<main>
    <div class=" div--main">
        <a href="/upload_app" class="deploy-button">+ New App</a>
    </div>
    <h2>Active Containers</h2>


    <div class="grid">

        <div class="card">
            <div class="card-header">
                <h3>asha_server_1</h3>
            </div>
            <div class="card-body">
                <p><strong>ID:</strong> 78e080a7003d</p>
                <p><strong>Status:</strong>
                    <span class="status 
            running
            ">
                        running
                    </span>
                </p>
                <p><strong>Image:</strong> nginx:latest</p>
            </div>
            <div class="card-footer">
                <a class="action-button view-button"
                    href="/logs/78e080a7003d3376d46540467fd662d97589adcf8b3578b08cfb15ba99016142">Logs</a>
                <a class="action-button view-button"
                    href="/stats/78e080a7003d3376d46540467fd662d97589adcf8b3578b08cfb15ba99016142">Stats</a>
                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="78e080a7003d3376d46540467fd662d97589adcf8b3578b08cfb15ba99016142">
                    <input type="hidden" name="action" value="start">
                    <button type="submit" class="action-button" disabled="">Start</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="78e080a7003d3376d46540467fd662d97589adcf8b3578b08cfb15ba99016142">
                    <input type="hidden" name="action" value="stop">
                    <button type="submit" class="action-button">Stop</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="78e080a7003d3376d46540467fd662d97589adcf8b3578b08cfb15ba99016142">
                    <input type="hidden" name="action" value="restart">
                    <button type="submit" class="action-button">Restart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>asha_backend_1</h3>
            </div>
            <div class="card-body">
                <p><strong>ID:</strong> 42f35a520db1</p>
                <p><strong>Status:</strong>
                    <span class="status 
            running
            ">
                        running
                    </span>
                </p>
                <p><strong>Image:</strong> asha_backend:latest</p>
            </div>
            <div class="card-footer">
                <a class="action-button view-button"
                    href="/logs/42f35a520db1a99a41dbcb70fb2fb1ba02ad1a759250ca4d738412b337bc9ded">Logs</a>
                <a class="action-button view-button"
                    href="/stats/42f35a520db1a99a41dbcb70fb2fb1ba02ad1a759250ca4d738412b337bc9ded">Stats</a>
                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="42f35a520db1a99a41dbcb70fb2fb1ba02ad1a759250ca4d738412b337bc9ded">
                    <input type="hidden" name="action" value="start">
                    <button type="submit" class="action-button" disabled="">Start</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="42f35a520db1a99a41dbcb70fb2fb1ba02ad1a759250ca4d738412b337bc9ded">
                    <input type="hidden" name="action" value="stop">
                    <button type="submit" class="action-button">Stop</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="42f35a520db1a99a41dbcb70fb2fb1ba02ad1a759250ca4d738412b337bc9ded">
                    <input type="hidden" name="action" value="restart">
                    <button type="submit" class="action-button">Restart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>nginx</h3>
            </div>
            <div class="card-body">
                <p><strong>ID:</strong> b9785b7786fd</p>
                <p><strong>Status:</strong>
                    <span class="status 
            running
            ">
                        running
                    </span>
                </p>
                <p><strong>Image:</strong> nginx:latest</p>
            </div>
            <div class="card-footer">
                <a class="action-button view-button"
                    href="/logs/b9785b7786fd1656bddbd96bfd41d2f5fd4801573a4554e3ac049ca7b3ba99a1">Logs</a>
                <a class="action-button view-button"
                    href="/stats/b9785b7786fd1656bddbd96bfd41d2f5fd4801573a4554e3ac049ca7b3ba99a1">Stats</a>
                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="b9785b7786fd1656bddbd96bfd41d2f5fd4801573a4554e3ac049ca7b3ba99a1">
                    <input type="hidden" name="action" value="start">
                    <button type="submit" class="action-button" disabled="">Start</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="b9785b7786fd1656bddbd96bfd41d2f5fd4801573a4554e3ac049ca7b3ba99a1">
                    <input type="hidden" name="action" value="stop">
                    <button type="submit" class="action-button">Stop</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="b9785b7786fd1656bddbd96bfd41d2f5fd4801573a4554e3ac049ca7b3ba99a1">
                    <input type="hidden" name="action" value="restart">
                    <button type="submit" class="action-button">Restart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>frontend</h3>
            </div>
            <div class="card-body">
                <p><strong>ID:</strong> b7e5157da1c2</p>
                <p><strong>Status:</strong>
                    <span class="status 
            running
            ">
                        running
                    </span>
                </p>
                <p><strong>Image:</strong> chitchat_client:latest</p>
            </div>
            <div class="card-footer">
                <a class="action-button view-button"
                    href="/logs/b7e5157da1c2f9dcf157432d16938f484f05d13e5c87c7f6d58c3d86a195edef">Logs</a>
                <a class="action-button view-button"
                    href="/stats/b7e5157da1c2f9dcf157432d16938f484f05d13e5c87c7f6d58c3d86a195edef">Stats</a>
                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="b7e5157da1c2f9dcf157432d16938f484f05d13e5c87c7f6d58c3d86a195edef">
                    <input type="hidden" name="action" value="start">
                    <button type="submit" class="action-button" disabled="">Start</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="b7e5157da1c2f9dcf157432d16938f484f05d13e5c87c7f6d58c3d86a195edef">
                    <input type="hidden" name="action" value="stop">
                    <button type="submit" class="action-button">Stop</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="b7e5157da1c2f9dcf157432d16938f484f05d13e5c87c7f6d58c3d86a195edef">
                    <input type="hidden" name="action" value="restart">
                    <button type="submit" class="action-button">Restart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>backend</h3>
            </div>
            <div class="card-body">
                <p><strong>ID:</strong> 37d6a5a69577</p>
                <p><strong>Status:</strong>
                    <span class="status 
            running
            ">
                        running
                    </span>
                </p>
                <p><strong>Image:</strong> chitchat_webserver:latest</p>
            </div>
            <div class="card-footer">
                <a class="action-button view-button"
                    href="/logs/37d6a5a6957732e842db12c8dc70b0362245291c3f51f24f6928beba9c2b9207">Logs</a>
                <a class="action-button view-button"
                    href="/stats/37d6a5a6957732e842db12c8dc70b0362245291c3f51f24f6928beba9c2b9207">Stats</a>
                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="37d6a5a6957732e842db12c8dc70b0362245291c3f51f24f6928beba9c2b9207">
                    <input type="hidden" name="action" value="start">
                    <button type="submit" class="action-button" disabled="">Start</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="37d6a5a6957732e842db12c8dc70b0362245291c3f51f24f6928beba9c2b9207">
                    <input type="hidden" name="action" value="stop">
                    <button type="submit" class="action-button">Stop</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="37d6a5a6957732e842db12c8dc70b0362245291c3f51f24f6928beba9c2b9207">
                    <input type="hidden" name="action" value="restart">
                    <button type="submit" class="action-button">Restart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>newGuacamole</h3>
            </div>
            <div class="card-body">
                <p><strong>ID:</strong> 5f0abe0e4bbf</p>
                <p><strong>Status:</strong>
                    <span class="status 
            running
            ">
                        running
                    </span>
                </p>
                <p><strong>Image:</strong> abesnier/guacamole:alpine-pg14</p>
            </div>
            <div class="card-footer">
                <a class="action-button view-button"
                    href="/logs/5f0abe0e4bbf8ea1de90510d83d8280377447c40c6b0e5af865e8a946ee75aff">Logs</a>
                <a class="action-button view-button"
                    href="/stats/5f0abe0e4bbf8ea1de90510d83d8280377447c40c6b0e5af865e8a946ee75aff">Stats</a>
                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="5f0abe0e4bbf8ea1de90510d83d8280377447c40c6b0e5af865e8a946ee75aff">
                    <input type="hidden" name="action" value="start">
                    <button type="submit" class="action-button" disabled="">Start</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="5f0abe0e4bbf8ea1de90510d83d8280377447c40c6b0e5af865e8a946ee75aff">
                    <input type="hidden" name="action" value="stop">
                    <button type="submit" class="action-button">Stop</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="5f0abe0e4bbf8ea1de90510d83d8280377447c40c6b0e5af865e8a946ee75aff">
                    <input type="hidden" name="action" value="restart">
                    <button type="submit" class="action-button">Restart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>modest_cartwright</h3>
            </div>
            <div class="card-body">
                <p><strong>ID:</strong> e77ec24f235d</p>
                <p><strong>Status:</strong>
                    <span class="status 
            running
            ">
                        running
                    </span>
                </p>
                <p><strong>Image:</strong> cloudflare/cloudflared:latest</p>
            </div>
            <div class="card-footer">
                <a class="action-button view-button"
                    href="/logs/e77ec24f235dbbf26e72491ab3545465b310bc610cb404356c464f279d1efbc9">Logs</a>
                <a class="action-button view-button"
                    href="/stats/e77ec24f235dbbf26e72491ab3545465b310bc610cb404356c464f279d1efbc9">Stats</a>
                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="e77ec24f235dbbf26e72491ab3545465b310bc610cb404356c464f279d1efbc9">
                    <input type="hidden" name="action" value="start">
                    <button type="submit" class="action-button" disabled="">Start</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="e77ec24f235dbbf26e72491ab3545465b310bc610cb404356c464f279d1efbc9">
                    <input type="hidden" name="action" value="stop">
                    <button type="submit" class="action-button">Stop</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="e77ec24f235dbbf26e72491ab3545465b310bc610cb404356c464f279d1efbc9">
                    <input type="hidden" name="action" value="restart">
                    <button type="submit" class="action-button">Restart</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>portainer</h3>
            </div>
            <div class="card-body">
                <p><strong>ID:</strong> 3806093e7980</p>
                <p><strong>Status:</strong>
                    <span class="status 
            running
            ">
                        running
                    </span>
                </p>
                <p><strong>Image:</strong> portainer/portainer-ce:latest</p>
            </div>
            <div class="card-footer">
                <a class="action-button view-button"
                    href="/logs/3806093e7980d87d05409b1446cfcb8dcb723204d117e537e245cd042ad22d25">Logs</a>
                <a class="action-button view-button"
                    href="/stats/3806093e7980d87d05409b1446cfcb8dcb723204d117e537e245cd042ad22d25">Stats</a>
                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="3806093e7980d87d05409b1446cfcb8dcb723204d117e537e245cd042ad22d25">
                    <input type="hidden" name="action" value="start">
                    <button type="submit" class="action-button" disabled="">Start</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="3806093e7980d87d05409b1446cfcb8dcb723204d117e537e245cd042ad22d25">
                    <input type="hidden" name="action" value="stop">
                    <button type="submit" class="action-button">Stop</button>
                </form>

                <form method="POST" action="/container/action">
                    <input type="hidden" name="container_id"
                        value="3806093e7980d87d05409b1446cfcb8dcb723204d117e537e245cd042ad22d25">
                    <input type="hidden" name="action" value="restart">
                    <button type="submit" class="action-button">Restart</button>
                </form>
            </div>
        </div>


    </div>
    <br><br>
    <h2>📊 Live Container Stats</h2>
    <table id="stats-table">
        <thead>
            <tr>
                <th>Container</th>
                <th>CPU %</th>
                <th>Memory Used</th>
                <th>Memory %</th>
                <th>Net In</th>
                <th>Net Out</th>
                <th>Block In</th>
                <th>Block Out</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>asha_server_1</td>
                <td>0.00%</td>
                <td>9.41 MB MB / 3983.69 MB MB</td>
                <td>0.24%</td>
                <td>0.01 MB MB</td>
                <td>0.00 MB MB</td>
                <td>4.92 MB MB</td>
                <td>0.00 MB MB</td>
            </tr>
            <tr>
                <td>nginx</td>
                <td>0.00%</td>
                <td>7.96 MB MB / 3983.69 MB MB</td>
                <td>0.20%</td>
                <td>0.01 MB MB</td>
                <td>0.00 MB MB</td>
                <td>3.55 MB MB</td>
                <td>0.00 MB MB</td>
            </tr>
            <tr>
                <td>frontend</td>
                <td>0.00%</td>
                <td>4.33 MB MB / 3983.69 MB MB</td>
                <td>0.11%</td>
                <td>0.00 MB MB</td>
                <td>0.00 MB MB</td>
                <td>0.00 MB MB</td>
                <td>0.00 MB MB</td>
            </tr>
            <tr>
                <td>backend</td>
                <td>0.00%</td>
                <td>110.07 MB MB / 3983.69 MB MB</td>
                <td>2.76%</td>
                <td>0.01 MB MB</td>
                <td>0.00 MB MB</td>
                <td>62.61 MB MB</td>
                <td>0.00 MB MB</td>
            </tr>
            <tr>
                <td>portainer</td>
                <td>0.00%</td>
                <td>80.22 MB MB / 3983.69 MB MB</td>
                <td>2.01%</td>
                <td>0.03 MB MB</td>
                <td>2.82 MB MB</td>
                <td>67.30 MB MB</td>
                <td>4.70 MB MB</td>
            </tr>
        </tbody>
    </table>
</main>